<!DOCTYPE html>
<html>

<head>
  <title>Math service</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="introduction">
    <h2>Here you can select the appropriate operation and enter an expression, and the program will display the appropriate result.</h2>
</div>
<section> 
  <div class="container">
    <p>You can omit multiplication symbol using brackets, for example: 2*2 = 2(2).</p>
    <div class="choice">
      <form action="/score" method="post">
        <label for="kind-operation">
          <select id="operation" name="operation">
            <option disabled>Choose operation</option>
            <option>Simplify</option>
            <option>Derive</option>
            <option>Integrate</option>
            <option>Find 0's</option>
            <option>Cosine</option>
            <option>Sine</option>
            <option>Tangent</option>
            <option>Inverse Cosine</option>
            <option>Inverse Sine</option>
            <option>Inverse Tangent</option>
            <option>Absolute Value</option>
            <option>Logarithm</option>
            <option>Factor</option>
          </select>
        </label>
       <input type="text" name="expression" placeholder="Enter expression">
    </div>
    <div class="error">
        <% if ((operation) && operation.error) { %>
            <%= operation.error %>
        <% } %>
    </div>
      <button type="submit">Calculate</button>
      </form>
      <% if(operation && operation.result){ %>
      <h3>Score: <%= operation.result %> </h3>
      <% } %> 
  </div>
  </section>
</body>

</html>