<!DOCTYPE html>
<html>

<head>
  <title>Math service</title>
</head>

<body>
  <h1>Here you can select the appropriate operation and enter an expression, and the program will display the appropriate result.</h1>
  <h3>Rules in regard to expressions entering: </h3>
  <ul>
    <li>You can omit multiplication symbol using brackets, for example: 2*2 = 2(2).</li>
    <li>To find the tangent of a function, enter a number separated by a vertical line, an expression where it is to be used, for example: 2|x^3</li>
    <li>To find the are under a curve, enter a rate for x, the vertical line andfunction, for example 2:4|x^3.</li>
  </ul>
  <section>
    <form action="/score" method="post">
      <label for="kind-operation">
        <select id="operation" name="operation">
          <option disabled>Choose operation</option>
          <option>Simplify</option>
          <option>Derive</option>
          <option>Integrate</option>
          <option>Find 0's</option>
          <option>Cosine</option>
          <option>Sine</option>
          <option>Tangent</option>
          <option>Inverse Cosine</option>
          <option>Inverse Sine</option>
          <option>Inverse Tangent</option>
          <option>Absolute Value</option>
          <option>Logarithm</option>
          <option>Factor</option>
        </select>
      </label>
    <input type="text" name="expression" placeholder="Enter expression">
    <% if ((operation) && operation.error) { %>
        <%= operation.error %>
    <% } %>
    <button type="submit">Calculate</button>
    </form>
    <h4>Score: </h4>
    <% if(operation && operation.result){ %>
      <%= operation.result %>
    <% } %> 
  </section>
</body>

</html>